<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }



  .ritz .waffle .s25 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s31 {
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  @media print{
    table{ page-break-inside:avoid; }
}
  .ritz .waffle .s37 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s17 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s39 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s35 {
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s12 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s9 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s4 {
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s41 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s11 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s43 {
    border-left: none;
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s26 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s26 p {
    transform: rotate(-90deg);
  }
  .ritz .waffle .s6 {
    border-left: none;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s38 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s13 {
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s18 {
    border-left: none;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s15 {
    border-left: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s20 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s23 {
    border-bottom: 1px SOLID transparent;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s34 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s3 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s44 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s8 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s27 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s28 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s42 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s19 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s24 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s16 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s32 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s21 {
    border-bottom: 2px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d8d8d8;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s30 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s33 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s10 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s36 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s40 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s14 {
    border-left: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
  }
  .ritz .waffle .s7 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s1 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s22 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s29 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 9px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
.table 
{
  table-layout:fixed;
    width:21cm;
    border:2px white solid;
    padding: 10px;
    padding-top: 80;
}
 
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0cm;
  border: 1px white solid;
  border-radius: 5px;
  background:white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}

* {
 width: 1;
 height: 13;
 margin-top: 1;
}
 
.borderLeft{
    border-left: 2px SOLID #000000;

}
.borderTop{
    border-top: 2px SOLID #000000;

}


.borderRigth{
    border-right: 2px SOLID #000000;

}

.borderButton{
    border-bottom: 2px SOLID #000000;

}













  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s022 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s020 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s036 {
    border-bottom: 2px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d8d8d8;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s07 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s032 {
    border-left: none;
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s02 {
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s021 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s035 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s019 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s05 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s034 {
    border-left: none;
    border-bottom: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s04 {
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s023 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s012 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s017 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s027 {
    border-left: none;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s09 {
    border-left: none;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s024 {
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s026 {
    border-left: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s00 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s010 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s03 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s08 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s014 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s013 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s06 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s015 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s030 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s029 {
    border-left: none;
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s028 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s011 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s016 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s018 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 9pt;
    vertical-align: bottom;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s033 {
    border-left: none;
    border-bottom: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s01 {
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s025 {
    border-left: none;
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
  .ritz .waffle .s031 {
    border-right: none;
    border-bottom: 2px SOLID #000000;
    background-color: #d8d8d8;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 6pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }


  .table2 
{
    table-layout:fixed;
    width:21cm;
    border:2px black solid;
    padding: 10px;
    padding-top: 80;
}
 
.page2 {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0cm;
  border: 1px white solid;
  border-radius: 5px;
  background: white;
  margin-top: 110;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}












</style>
<div  style="margin-top: 20;" class="ritz grid-container page " dir="ltr">
  
    <table class="waffle no-grid table " cellspacing="0" cellpadding="0">
    <tr style="height: 12px">
      <th
        id="1592487475R0"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td  style=" writing-mode: vertical-rl; text-align: center; word-wrap:break-word;" class="s0 borderLeft borderTop" rowspan="14">Transcrição de Registro (Fato)</td>
      <td class="s2 borderTop borderRigth">Unidade OP.</td>
      <td  style="margin-left:5px;" class="s2 borderTop">Circunscrição</td>
      <td class="s2 borderTop"></td>
      <td class="s3 borderTop"></td>
      <td class="s1 borderTop">Data ou Registro</td>
      <td class="s1 borderTop">Hora do Registro</td>
 
      <td class="s1 softmerge borderTop">
        <div class="softmerge-inner borderTop" >
          Nº da Folha
        </div>
      </td>

  
    </tr>
  
    <tr style="height: 21px">
      <th
        id="1592487475R1"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s5">2 BIEsp</td>
      <td class="s5" colspan="3">AIS 26</td>
      <td class="s5"></td>
      <td class="s5"></td>
      <td class="s5"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R2"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Descrição da Natureza</td>
      <td class="s2"></td>
      <td class="s2"></td>
      <td class="s2"></td>
      <td class="s3"></td>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 101px; left: -1px">
          Nº MIKE</div>
      </td>
      <td class="s1"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R3"
        style="height: 21px"
        class="row-headers-background"
      >
    </th>
      <td class="s7" colspan="5"><%=boletim.tipoOcorr%></td>
      <td class="s5" colspan="2"><%=boletim.mike%></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R4"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s3">Dia (dd/mm/aaaa)</td>
      <td class="s2">Hora (hh:mm)</td>
      <td class="s8"></td>
      <td class="s2">( ) Autoria Conhecida</td>
      <td class="s2">( ) Consumado</td>
      <td class="s2 borderRigth">( ) Culposo</td>
      <td class="s3 borderButton">( ) Flagrante</td>
    </tr>
    <tr style="height: 17px">
      <th
        id="1592487475R5"
        style="height: 17px"
        class="row-headers-background"
      ></th>
      <td class="s9"></td>
      <td class="s9" colspan="2"></td>
      <td class="s10 softmerge">
        <div class="softmerge-inner" style="width: 119px; left: -1px">
          ( ) Autoria Desconhecida
        </div>
      </td>
      <td class="s10"></td>
      <td class="s11">( ) Ato infracional</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R6"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Circunscrição do Fato</td>
      <td class="s12"></td>
      <td class="s8"></td>
      <td class="s13 softmerge">
        <div class="softmerge-inner" style="width: 40px; left: -1px">
          Local principal da ocorrência
        </div>
      </td>
      <td class="s14"></td>
      <td class="s15"></td>
      <td class="s16"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R7"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s9" colspan="3"></td>
      <td class="s17 s1" colspan="4"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R8"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Logradouro (Rua, Avenida, Rodovia, etc)
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s1"></td>
      <td class="s3">Número</td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R9"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="6"><%=boletim.endereco%></td>
      <td class="s19"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R10"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner borderRigth" style="width: 132px; left: -1px">
          Complemento
        </div>
      </td>
      <td class="s18 borderRigth"></td>
      <td class="s6">Bairro</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
      <td class="s3">CEP</td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R11"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s20" colspan="2"></td>
      <td class="s7" colspan="4"></td>
      <td class="s16"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R12"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Município</td>
      <td class="s12"></td>
      <td class="s8"></td>
      <td class="s1">UF</td>
      <td class="s2">Ponto de referência</td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R13"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="3"></td>
      <td class="s5"></td>
      <td class="s7" colspan="3"></td>
    </tr>
    <tr style="height: 9px">
      <th
        id="1592487475R14"
        style="height: 9px"
        class="row-headers-background"
      ></th>
      <td  style="writing-mode: vertical-lr; text-align: center;" class="s0 borderLeft" rowspan="6">Nº</td>
      
      <td class="s21" rowspan="2">() VÍTIMA</td>
     
      <td class="s21" rowspan="2">( ) IMPUTADO</td>
      <td class="s21" rowspan="2">( ) SUSPEITO</td>
      <td class="s21" rowspan="2">( ) TESTEMUNHA</td>
      <td class="s22" rowspan="2">( ) OUTROS</td>
      <td class="s21" rowspan="2">TURISTA</td>
      <td class="s23">( ) SIM</td>
    </tr>
    <tr style="height: 11px">
      <th
        id="1592487475R15"
        style="height: 11px"
        class="row-headers-background"
      ></th>
      <td class="s24">( ) NÃO</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R16"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Nome / Razão Social</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R17"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      
      <td class="s25" colspan="7"><%= boletim.pessoas[0].nome %></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R18"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Pai</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R19"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="7"><%= boletim.pessoas[0].pai %></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R20"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td style="writing-mode: vertical-rl; text-align: center;" class="s26 borderLeft"  rowspan="20">Dados do Envolvido</td>
      <td class="s2">Mãe</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R21"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s25" colspan="7"><%= boletim.pessoas[0].mae %></td>
    </tr>
    <tr style="height: 20px">
      <th
        id="1592487475R22"
        style="height: 20px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" >
        Apelido / Nome Fantasia
        </div>
      </td>
      <td class="s18 borderRigth"></td>
      <td class="s18 borderRigth">Sexo ( ) M</td>
      <td class="s27 borderRigth">Estado Civil</td>
      <td class="s12">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >1</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Solteiro </span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >3</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Viúvo(a)</span
        >
      </td>
      <td class="s12">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >5</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Amasiado(a)</span
        >
      </td>
      <td class="s8">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >7</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Não Informado</span
        >
      </td>
    </tr>
    <tr style="height: 19px">
      <th
        id="1592487475R23"
        style="height: 19px"
        class="row-headers-background"
      ></th>
      <td class="s20" colspan="2"></td>
      <td class="s16">( ) F</td>
      <td class="s28 borderRigth">( )</td>
      <td class="s17 softmerge">
        <div class="softmerge-inner" style="width: 113px; left: -1px">
          <span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              font-weight: bold;
              color: #000000;
            "
            >2</span
          ><span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              color: #000000;
            "
            >. Casado(a) </span
          >
        </div>
      </td>
      <td class="s17">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >6</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
        >
      </td>
      <td class="s16"></td>
    </tr>
    
    
    <tr style="height: 13px">
      <th
        id="1592487475R24"
        style="height: 13px"
        class="row-headers-background"
      ></th>
      <td class="s29" rowspan="2">Data de Nas.</td>
      <td class="s30" rowspan="2">Idade Aparente</td>
      <td class="s31">1. Recém-nascido</td>
      <td class="s32 softmerge">
        <div class="softmerge-inner" style="width: 119px; left: -1px">
          4. Adulto - Jovem 
        </div>
      </td>
      <td class="s12">Escolariade</td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>



    <tr style="height: 12px">
      <th
        id="1592487475R25"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s31">2. Criança (1-12 anos)</td>
      <td class="s32">5. Adolfo (31-65 anos)</td>
      <td class="s9" colspan="3" rowspan="2"></td>
    </tr>



    <tr style="height: 15px">
      <th
        id="1592487475R26"
        style="height: 15px"
        class="row-headers-background"
      ></th>
      <td class="s19"></td>
      <td class="s28"></td>
      <td class="s33 softmerge">
        <div class="softmerge-inner" style="width: 104px; left: -1px">
          3. Adolescente (13-17 anos)
        </div>
      </td>
      <td class="s34">6. Idoso (acima de 65 anos)</td>
    </tr>



    <tr style="height: 15px">
      <th
        id="1592487475R27"
        style="height: 15px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          <% if(boletim.rg) { %> ( X ) RG ( ) CNH <% } else { %> ( ) RG ( ) CNH
          <% } %>
        </div>
      </td>
      <td class="s6 borderRigth"></td>
      <td class="s6 borderRigth"></td>
      <td class="s35 softmerge">
        <div class="softmerge-inner" style="width: 135px; left: -1px">
          ( ) CPF ( ) CNPJ ( ) Outro-Qual ? 
        </div>
      </td>
      <td class="s18 borderRigth"></td>
      <td class="s2">Naturalidade</td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R28"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s36" colspan="2"><%=boletim.pessoas[0].rg%></td>
      <td class="s37"></td>
      <td class="s9" colspan="2"><%=boletim.pessoas[0].cpf%></td>
      <td class="s7" colspan="2"><%=boletim.pessoas[0].naturalidade%></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R29"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Logradouro (Rua, Avenida, Rodovia, etc)
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s12"></td>
      <td class="s8"></td>
      <td class="s38">Número</td>
      <td class="s38">Complemento</td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R30"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s25" colspan="5"><%= boletim.pessoas[0].endereco %></td>
      <td class="s19"></td>
      <td class="s19"></td>
    </tr>
    <tr style="height: 20px">
      <th
        id="1592487475R31"
        style="height: 20px"
        class="row-headers-background"
      ></th>
      <td class="s2">Bairro</td>
      <td class="s8"></td>
      <td class="s1">CEP</td>
      <td class="s2">Município</td>
      <td class="s8"></td>
      <td class="s1">UF</td>
      <td class="s3">Telefone
      </td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R32"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="2"></td>
      <td class="s5"></td>
      <td class="s7" colspan="2"></td>
      <td class="s5"></td>
      <td class="s20"></td>
    </tr>
    <tr style="height: 9px">
      <th
        id="1592487475R33"
        style="height: 9px"
        class="row-headers-background"
      ></th>
      <td class="s39">Altura</td>
      <td class="s40">1. Até 0,5m 4. 1,51-1,70m</td>
      <td class="s39">Peso</td>
      <td class="s40">1. Até 20kg 4. 61-80Kg</td>
      <td class="s39">Cor da Pele</td>
      <td class="s8 softmerge">
        <div class="softmerge-inner" style="width: 84px; left: -1px">
          1. Parda 3. Amarela
        </div>
      </td>
      <td class="s1">Bigode</td>
    </tr>
    <tr style="height: 11px">
      <th
        id="1592487475R34"
        style="height: 11px"
        class="row-headers-background"
      ></th>
      <td class="s41" rowspan="2">( )</td>
      <td class="s40">2. 0,6-1,0m 5.1,71-1,80m</td>
      <td class="s41" rowspan="2">( )</td>
      <td class="s40">2. 21-40Kg 5. 81-100Kg</td>
      <td class="s41" rowspan="2">( )</td>
      <td class="s8">2. Branca</td>
      <td class="s38">( ) Sim</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R35"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s42">3. 1,1-1,5m 6. Acima de 1,80m</td>
      <td class="s42">3. 41 - 60Kg 6. Acima de 100Kg</td>
      <td class="s16">3. Negra</td>
      <td class="s19">( ) Não</td>
    </tr>
    <tr style="height: 20px">
      <th
        id="1592487475R36"
        style="height: 20px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Cabelo - Tipo / Cor (Descrever)
        </div>
      </td>
      <td class="s18 borderRigth"></td>
      <td class="s6">Barba (Descrever)</td>
      <td class="s8"></td>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 317px; left: -1px">
          Tipo de Cicatriz / Local / Formato (Descrever)
        </div>
      </td>
      <td class="s43"></td>
      <td class="s1"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R37"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="2"></td>
      <td class="s7" colspan="2"></td>
      <td class="s7" colspan="3"></td>
    </tr>
    <tr style="height: 20px">
      <th
        id="1592487475R38"
        style="height: 20px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Tipo de Tatuagem / Local (Descrever)
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18 borderRigth"></td>
      <td class="s2">Defeito Físico (Descrever)</td>
      <td class="s8"></td>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 101px; left: -1px">
          Dentes (Descrever)
        </div>
      </td>
      <td class="s1"></td>
    </tr>
    <tr style="height: 21px">
      <th
        id="1592487475R39"
        style="height: 21px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="3"></td>
      <td class="s7" colspan="2"></td>
      <td class="s25" colspan="2"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R40"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td  style="writing-mode: vertical-lr; text-align: center;" class="s0 borderLeft" rowspan="6">Nº</td>
      <td class="s21" rowspan="2">( ) VÍTIMA</td>
      <td class="s21" rowspan="2">( ) IMPUTADO</td>
      <td class="s21" rowspan="2">( ) SUSPEITO</td>
      <td class="s21" rowspan="2">( ) TESTEMUNHA</td>
      <td class="s22" rowspan="2">( ) OUTROS</td>
      <td class="s21" rowspan="2">TURISTA</td>
      <td class="s23">( ) SIM</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R41"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s24">( ) NÃO</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R42"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Nome / Razão Social</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 23px">
      <th
        id="1592487475R43"
        style="height: 23px"
        class="row-headers-background"
      ></th>
      <td class="s9" colspan="7"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R44"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Pai</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 20px">
      <th
        id="1592487475R45"
        style="height: 20px"
        class="row-headers-background"
      ></th>
      <td class="s9" colspan="7"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R46"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td style="writing-mode: vertical-rl; text-align: center;" class="s26 borderLeft" rowspan="20">Dados do Envolvido</td>
      <td class="s2">Mãe</td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 24px">
      <th
        id="1592487475R47"
        style="height: 24px"
        class="row-headers-background"
      ></th>
      <td class="s16" colspan="7"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R48"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Apelido / Nome Fantasia
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18">Sexo ( ) M</td>
      <td class="s27">Estado Civil</td>
      <td class="s12">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >1</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Solteiro </span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >3</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Viúvo(a)</span
        >
      </td>
      <td class="s12">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >5</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Amasiado(a)</span
        >
      </td>
      <td class="s8">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >7</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
          >. Não Informado</span
        >
      </td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R49"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s20" colspan="2"></td>
      <td class="s16">( ) F</td>
      <td class="s28">( )</td>
      <td class="s17 softmerge">
        <div class="softmerge-inner" style="width: 113px; left: -1px">
          <span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              font-weight: bold;
              color: #000000;
            "
            >2</span
          ><span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              color: #000000;
            "
            >. Casado(a) </span
          ><span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              font-weight: bold;
              color: #000000;
            "
            >4</span
          ><span
            style="
              font-size: 9px;
              font-family: TimesNewRomanPSMT, Arial;
              color: #000000;
            "
          >
            Divorciado(a)</span
          >
        </div>
      </td>
      <td class="s17">
        <span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            font-weight: bold;
            color: #000000;
          "
          >6</span
        ><span
          style="
            font-size: 9px;
            font-family: TimesNewRomanPSMT, Arial;
            color: #000000;
          "
   
        >
      </td>
      <td class="s16"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R50"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s29" rowspan="2">Data de Nas.</td>
      <td class="s30" rowspan="2">Idade Aparente</td>
      <td class="s31">1. Recém-nascido</td>
      <td class="s32 softmerge">
        <div class="softmerge-inner" style="width: 119px; left: -1px">
          4. Adulto - Jovem (18 - 30 anos)
        </div>
      </td>
      <td class="s12">Escolariade</td>
      <td class="s12"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R51"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s31">2. Criança (1-12 anos)</td>
      <td class="s32">5. Adolfo (31-65 anos)</td>
      <td class="s7" colspan="3" rowspan="2"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R52"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s19"></td>
      <td class="s28">( )</td>
      <td class="s33 softmerge">
        <div class="softmerge-inner" style="width: 104px; left: -1px">
          3. Adolescente (13-17 anos)
        </div>
      </td>
      <td class="s34">6. Idoso (acima de 65 anos)</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R53"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          ( ) RG ( ) CNH
        </div>
      </td>
      <td class="s6"></td>
      <td class="s6"></td>
      <td class="s35 softmerge">
        <div class="softmerge-inner" style="width: 135px; left: -1px">
          ( ) CPF ( ) CNPJ ( ) Outro-Qual ? 
        </div>
      </td>
      <td class="s18"></td>
      <td class="s2">Naturalidade</td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R54"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s44" colspan="2"></td>
      <td class="s37"></td>
      <td class="s9 " colspan="2"></td>
      <td class="s9" colspan="2"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R55"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Logradouro (Rua, Avenida, Rodovia, etc)
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s12"></td>
      <td class="s8"></td>
      <td class="s38">Número</td>
      <td class="s38">Complemento</td>
    </tr>
    <tr style="height: 28px">
      <th
        id="1592487475R56"
        style="height: 28px"
        class="row-headers-background"
      ></th>
      <td class="s25" colspan="5"></td>
      <td class="s19"></td>
      <td class="s19"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R57"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s2">Bairro</td>
      <td class="s8"></td>
      <td class="s1">CEP</td>
      <td class="s2">Município</td>
      <td class="s8"></td>
      <td class="s1">UF</td>
      <td class="s3">Telefone </td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R58"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="2"></td>
      <td class="s5"></td>
      <td class="s7" colspan="2"></td>
      <td class="s5"></td>
      <td class="s5"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R59"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s39">Altura</td>
      <td class="s40">1. Até 0,5m 4. 1,51-1,70m</td>
      <td class="s39">Peso</td>
      <td class="s40">1. Até 20kg 4. 61-80Kg</td>
      <td class="s39">Cor da Pele</td>
      <td class="s8 softmerge">
        <div class="softmerge-inner" style="width: 84px; left: -1px">
          1. Parda 3. Amarela
        </div>
      </td>
      <td class="s1">Bigode</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R60"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s41" rowspan="2">( )</td>
      <td class="s40">2. 0,6-1,0m 5.1,71-1,80m</td>
      <td class="s41" rowspan="2">( )</td>
      <td class="s40">2. 21-40Kg 5. 81-100Kg</td>
      <td class="s41" rowspan="2">( )</td>
      <td class="s8">2. Branca</td>
      <td class="s38">( ) Sim</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R61"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s42">3. 1,1-1,5m 6. Acima de 1,80m</td>
      <td class="s42">3. 41 - 60Kg 6. Acima de 100Kg</td>
      <td class="s16">3. Negra</td>
      <td class="s19">( ) Não</td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R62"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Cabelo - Tipo / Cor (Descrever)
        </div>
      </td>
      <td class="s1"></td>
      <td class="s6">Barba (Descrever)</td>
      <td class="s8"></td>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 317px; left: -1px">
          Tipo de Cicatriz / Local / Formato (Descrever)
        </div>
      </td>
      <td class="s43"></td>
      <td class="s1"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R63"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="2"></td>
      <td class="s7" colspan="2"></td>
      <td class="s7" colspan="3"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R64"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 132px; left: -1px">
          Tipo de Tatuagem / Local (Descrever)
        </div>
      </td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s2">Defeito Físico (Descrever)</td>
      <td class="s1"></td>
      <td class="s4 softmerge">
        <div class="softmerge-inner" style="width: 101px; left: -1px">
          Dentes (Descrever)
        </div>
      </td>
      <td class="s1"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R65"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s7" colspan="3"></td>
      <td class="s7" colspan="2"></td>
      <td class="s25" colspan="2"></td>
    </tr>
    <tr style="height: 12px">
      <th
        id="1592487475R66"
        style="height: 12px"
        class="row-headers-background"
      ></th>
      <td class="s4 softmerge borderLeft">Assinatura do Interessado(a):</td>
      <td class="s43"></td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s4 softmerge">
        Assinatura do responsável pelo preenchimento:
      </td>
      <td class="s18"></td>
      <td class="s18"></td>
      <td class="s8"></td>
    </tr>
    <tr style="height: 35px">
      <th
        id="1592487475R67"
        style="height: 35px"
        class="row-headers-background"
      ></th>
      <td class="s9 borderLeft" colspan="4"></td>
      <td class="s9" colspan="4"></td>
    </tr>
  </table>
</div>

<div class="ritz grid-container page2" dir="ltr">

  <table class="waffle no-grid table2" cellspacing="0" cellpadding="0">

    <thead>
      
    </thead>
    <tbody >
      <tr style="height: 12px">
        <th
          id="851099115R0"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>

        <td style="writing-mode: vertical-lr; " class="rotate s00 borderTop borderLeft" colspan="2" rowspan="2">Fato</td>
        <td class="s01 borderTop">Unidade Operacional</td>
        <td class="s02 borderTop">Circunscrição</td>
        <td class="s02 borderTop"></td>
        <td class="s03 borderTop"></td>
        <td class="s01 borderTop">Data ou Registro</td>
        <td class="s01 borderTop">Hora do Registro</td>
        <td class="s04 softmerge borderTop borderRigth">
          <div class="softmerge-inner " >
            Nº da Folha 
            
          </div>
        </td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R1"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s05"> 2BIEsp</td>
        <td class="s05" colspan="3"> AIS 26</td>
        <td class="s05"><%= moment(boletim.createdAt).format('DD/MM/YYYY'); %></td>
        <td class="s05"><%= moment(boletim.createdAt).format('HH:mm'); %></td>
        <td class="s05"></td>
      </tr>
      <tr style="height: 11px">
        <th
          id="851099115R2"
          style="height: 11px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 11px"></div>
        </th>
        <td style="writing-mode: vertical-rl; font-size: 8pt;" class="rotate s06 borderLeft" colspan="2" rowspan="8">Modus Operandi</td>
        <td class="s02">Forma de Aproximação</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 236px; left: -1px">
            Forma da ação da abordagem
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R3"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s010" colspan="3"></td>
        <td class="s010" colspan="4"></td>
      </tr>
      <tr style="height: 11px">
        <th
          id="851099115R4"
          style="height: 11px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 11px"></div>
        </th>
        <td class="s02">Local de Entrada ?</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s02">Forma de Entrada ?</td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R5"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s010" colspan="3"></td>
        <td class="s010" colspan="4"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R6"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s02">Alterações no local ?</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s02">Forma de Evasão ?</td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R7"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s010" colspan="3"></td>
        <td class="s010" colspan="4"></td>
      </tr>
      <tr style="height: 11px">
        <th
          id="851099115R8"
          style="height: 11px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 11px"></div>
        </th>
        <td class="s02">Crimes Sexuais ?</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s02">Estelionato ?</td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R9"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s010" colspan="3"></td>
        <td class="s010" colspan="4"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R10"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td style="writing-mode: vertical-lr;" class="rotate s011 borderLeft" rowspan="18">Objeto</td>
        <td  style="writing-mode: vertical-lr; text-align: center;" class="s012" dir="ltr" rowspan="6">Nº</td>
        <td class="s01">Envolvido</td>
        <td class="s02">Tipo de Objeto</td>
        <td class="s08"></td>
        <td class="s02">Marca / Modelo</td>
        <td class="s08"></td>
        <td class="s02">Número de série</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R11"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"> </div>
        </th>
        <td class="s013" dir="ltr"> <%= boletim.objetos[0].envolvido %> </td>
        <td class="s010" dir="ltr" colspan="2"><%= boletim.objetos[0].tipo_objeto %></td>
        <td class="s010" dir="ltr" colspan="2"><%= boletim.objetos[0].modelo %></td>
        <td class="s05" dir="ltr" colspan="2"><%= boletim.objetos[0].nserie %></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R12"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s01">Quantidade</td>
        <td class="s02">Valor</td>
        <td class="s08"></td>
        <td class="s07">Moeda</td>
        <td class="s08"></td>
        <td class="s02">Objeto Apreendido</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R13"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s05" dir="ltr"></td>
        <td class="s05" colspan="2"></td>
        <td class="s014"></td>
        <td class="s015"></td>
        <td class="s016" dir="ltr">( ) Sim</td>
        <td class="s017">( ) Não</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R14"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 232px; left: -1px">
            Qual o motivo do registro do objeto ?
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td style="text-align: left;" class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R15"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s018" dir="ltr" colspan="7"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R16"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td  style="writing-mode: vertical-lr; text-align: center;" class="s012" rowspan="6">Nº</td>
        <td class="s01">Envolvido</td>
        <td class="s02">Tipo de Objeto</td>
        <td class="s08"></td>
        <td class="s02">Marca / Modelo</td>
        <td class="s08"></td>
        <td class="s02">Número de série</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 24px">
        <th
          id="851099115R17"
          style="height: 24px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 24px"></div>
        </th>
        <td class="s013"></td>
        <td class="s010" colspan="2"></td>
        <td class="s010" colspan="2"></td>
        <td class="s05" colspan="2"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R18"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s01">Quantidade</td>
        <td class="s02">Valor</td>
        <td class="s08"></td>
        <td class="s07">Moeda</td>
        <td class="s08"></td>
        <td class="s02">Objeto Apreendido</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 23px">
        <th
          id="851099115R19"
          style="height: 23px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 23px"></div>
        </th>
        <td class="s019"> <%= boletim.objetos[0].qtd_objeto %></td>
        <td class="s05" colspan="2"></td>
        <td class="s020"></td>
        <td class="s015"></td>
        <td class="s016">( ) Sim</td>
        <td class="s017">( ) Não</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R20"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 232px; left: -1px">
            Qual o motivo do registro do objeto ?
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td style="text-align: left;" class="s08"></td>
      </tr>
      <tr style="height: 25px">
        <th
          id="851099115R21"
          style="height: 25px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 25px"></div>
        </th>
        <td class="s018" colspan="7"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R22"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td  style="writing-mode: vertical-lr; text-align: center;" class="s012" rowspan="6">Nº</td>
        <td class="s01">Envolvido</td>
        <td class="s02">Tipo de Objeto</td>
        <td class="s08"></td>
        <td class="s02">Marca / Modelo</td>
        <td class="s08"></td>
        <td class="s02">Número de série</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 24px">
        <th
          id="851099115R23"
          style="height: 24px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 24px"></div>
        </th>
        <td class="s013"></td>
        <td class="s010" colspan="2"></td>
        <td class="s010" colspan="2"></td>
        <td class="s05" colspan="2"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R24"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s01">Quantidade</td>
        <td class="s02">Valor</td>
        <td class="s08"></td>
        <td class="s07">Moeda</td>
        <td class="s08"></td>
        <td class="s02">Objeto Apreendido</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 24px">
        <th
          id="851099115R25"
          style="height: 24px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 24px"></div>
        </th>
        <td class="s019"></td>
        <td class="s05" colspan="2"></td>
        <td class="s020"></td>
        <td class="s015"></td>
        <td class="s016">( ) Sim</td>
        <td class="s017">( ) Não</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R26"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 232px; left: -1px">
            Qual o motivo do registro do objeto ?
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 23px">
        <th
          id="851099115R27"
          style="height: 23px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 23px"></div>
        </th>
        <td class="s018" colspan="7"></td>
      </tr>
      <tr style="height: 15px">
        <th
          id="851099115R28"
          style="height: 15px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 15px"></div>
        </th>
        <td style="writing-mode: vertical-lr;" class="rotate s021 borderLeft" rowspan="12">Dados </td>
        <td class="s012" style="writing-mode: vertical-lr; text-align: center;" rowspan="6">Nº</td>
        <td class="s01">Envolvido</td>
        <td class="s02">Marca / Modelo</td>
        <td class="s08"></td>
        <td class="s03">Cor</td>
        <td class="s03">Ano</td>
        <td class="s02">Renavam</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R29"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s05"></td>
        <td class="s018" colspan="2"></td>
        <td class="s018"></td>
        <td class="s05"></td>
        <td class="s019" colspan="2"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R30"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s01">UF</td>
        <td class="s02">Chassi</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s03">Placa</td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 201px; left: -1px">
            Veículo apreendido
          </div>
        </td>
        <td class="s09 borderRigth"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R31"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s013"></td>
        <td class="s05" colspan="3"></td>
        <td class="s015"></td>
        <td class="s016">( ) Sim</td>
        <td class="s017">( ) Não</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R32"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 232px; left: -1px">
            Qual o motivo do registro do veículo ?
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R33"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s010" colspan="7"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R34"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td  style="writing-mode: vertical-lr; text-align: center;" class="s012" rowspan="6">Nº</td>
        <td class="s01">Envolvido</td>
        <td class="s02">Marca / Modelo</td>
        <td class="s08"></td>
        <td class="s03">Cor</td>
        <td class="s03">Ano</td>
        <td class="s02">Renavam</td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R35"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s05"></td>
        <td class="s018" colspan="2"></td>
        <td class="s018"></td>
        <td class="s05"></td>
        <td class="s019" colspan="2"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R36"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s01">UF</td>
        <td class="s02">Chassi</td>
        <td class="s07"></td>
        <td class="s08"></td>
        <td class="s03">Placa</td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 201px; left: -1px">
            Veículo apreendido
          </div>
        </td>
        <td class="s09"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R37"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s013"></td>
        <td class="s010" colspan="3"></td>
        <td class="s022"></td>
        <td class="s016">( ) Sim</td>
        <td class="s017">( ) Não</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R38"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 232px; left: -1px">
            Qual o motivo do registro do veículo ?
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R39"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s05" colspan="7"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R40"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
        <td style="writing-mode: vertical-lr;" class="rotate s06 borderLeft" rowspan="12">Dados </td>
        <td style="text-align: center; text-align: justify;" class="s023" colspan="8" rowspan="12"> <%= boletim.objetos[0].histórico %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R41"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R42"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R43"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R44"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R45"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R46"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R47"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R48"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R49"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R50"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 20px">
        <th
          id="851099115R51"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px"></div>
        </th>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R52"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s08 borderLeft"></td>
        <td class="s024 softmerge">
          <div class="softmerge-inner" style="width: 252px; left: -1px">
            Exames Periciais: S. Solicitado R. Realizado
          </div>
        </td>
        <td class="s025"></td>
        <td class="s026"></td>
        <td class="s026"></td>
        <td class="s020"></td>
        <td class="s020"></td>
        <td class="s020"></td>
        <td class="s015"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R53"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s08 borderLeft"></td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 126px; left: -1px">
            Tipo do Exame
          </div>
        </td>
        <td class="s09"></td>
        <td class="s027 softmerge">
          <div class="softmerge-inner" style="width: 123px; left: -1px">
            Envolvido ( ) S
          </div>
        </td>
        <td class="s02">Tipo do Exame</td>
        <td class="s07"></td>
        <td class="s03 softmerge">
          <div class="softmerge-inner" style="width: 113px; left: -1px">
            Envolvido ( ) S
          </div>
        </td>
        <td class="s07">Tipo do Exame</td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 208px; left: -1px">
            Envolvido ( ) S
          </div>
        </td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R54"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s015 borderLeft"></td>
        <td class="s028" colspan="2"></td>
        <td class="s017 softmerge">
          <div class="softmerge-inner" style="width: 123px; left: -1px">
            ( ) ( ) R
          </div>
        </td>
        <td class="s028" colspan="2"></td>
        <td class="s024 softmerge">
          <div class="softmerge-inner" style="width: 201px; left: -1px">
            ( ) ( ) R
          </div>
        </td>
        <td class="s026"></td>
        <td class="s029 softmerge ">
          <div class="softmerge-inner " >
            ( ) ( ) R
          </div>
        </td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R55"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td style="writing-mode: vertical-lr;" class="rotate s030 borderLeft" rowspan="9"></td>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 126px; left: -1px">
            ( ) Condutor
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s02">( ) Recebedor</td>
        <td class="s08"></td>
        <td class="s03">Matrícula</td>
        <td class="s03">Viatura</td>
        <td class="s03">Unidade</td>
      </tr>
      <tr style="height: 21px">
        <th
          id="851099115R56"
          style="height: 21px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 21px"></div>
        </th>
        <td class="s019" colspan="3"><%= boletim.responsavel%></td>
        <td class="s019" colspan="2"></td>
        <td class="s018"><%= boletim.matricula%></td>
        <td class="s010"><%= boletim.gt%></td>
        <td class="s010">2BIEsp</td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R57"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s031 softmerge">
          <div class="softmerge-inner" style="width: 252px; left: -1px">
            Responsável pelo preenchimento
          </div>
        </td>
        <td class="s032"></td>
        <td class="s033"></td>
        <td class="s034">Interessado</td>
        <td class="s035"></td>
        <td class="s036">Respnsável pela validação</td>
        <td class="s036"></td>
        <td class="s035"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R58"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 126px; left: -1px">
            Matrícula:
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s02"></td>
        <td class="s08"></td>
        <td class="s02">Matrícula:</td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 25px">
        <th
          id="851099115R59"
          style="height: 25px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 25px"></div>
        </th>
        <td class="s05" colspan="3"> <%= boletim.matricula%></td>
        <td class="s013" colspan="2"></td>
        <td class="s05" colspan="3"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R60"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 126px; left: -1px">
            Assinatura:
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s02">Assinatura:</td>
        <td class="s08"></td>
        <td class="s02">Assinatura:</td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 31px">
        <th
          id="851099115R61"
          style="height: 31px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 31px"></div>
        </th>
        <td class="s05" colspan="3"></td>
        <td class="s020"></td>
        <td class="s015"></td>
        <td class="s020"></td>
        <td class="s020"></td>
        <td class="s015"></td>
      </tr>
      <tr style="height: 12px">
        <th
          id="851099115R62"
          style="height: 12px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 12px"></div>
        </th>
        <td class="s04 softmerge">
          <div class="softmerge-inner" style="width: 126px; left: -1px">
            Nome:
          </div>
        </td>
        <td class="s09"></td>
        <td class="s09"></td>
        <td class="s02">Nome:</td>
        <td class="s08"></td>
        <td class="s02">Nome:</td>
        <td class="s07"></td>
        <td class="s08"></td>
      </tr>
      <tr style="height: 32px">
        <th
          id="851099115R63"
          style="height: 32px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 32px"></div>
        </th>
        <td class="s018" colspan="3"></td>
        <td class="s010" colspan="2"></td>
        <td class="s010" colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>
